@import 'react-tooltip/dist/react-tooltip.css';

.hidden {
	display: none !important;
}

.modal-backdrop {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 600px;
    max-height: 80vh; /* Add a max-height to the modal */
    overflow-y: auto; /* Add vertical scroll to the modal */
    display: flex;
    flex-direction: column;
}

.modal-header {
    text-align: center;
    margin-bottom: 15px;
}

.modal-body {
    margin-bottom: 20px;
    overflow-y: auto;
    max-height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
}

.modal-body pre {
    white-space: pre-wrap; /* Wrap long lines */
    overflow-x: hidden; /* Hide horizontal overflow */
    font-family: monospace; /* Set a monospace font */
    font-size: 1em; /* Set a font size */
    margin: 0; /* Remove default margin */
}

.modal-footer {
    text-align: center; /* Center the buttons horizontally */
    display: flex; /* Use flexbox for button layout */
    justify-content: center; /* Center the buttons horizontally */
    gap: 10px; /* Add some space between the buttons */
}

.modal-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accept-button {
    background-color: #5cb85c;
    color: white;
}

.decline-button {
    background-color: #d9534f;
    color: white;
}
